@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-primary text-primary text-small lg:text-base
  }
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@layer utilities {
  .text-small {
    font-size: 14px;
    line-height: 20px;
  }
  .shadow-xl-dark {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.5), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
  .pointer {
    cursor: pointer;
  }
}

@layer components {
  .logo {
    @apply flex justify-center lg:justify-normal
  }
  .logo img {
    @apply w-40 md:w-60
  }
  .logo-text {
    @apply mt-auto text-sm ml-[-15px] md:ml-[-20px] lg:ml-[-30px] mb-[-5px]
  }
  .header {
    @apply border-b border-b-primary fixed w-full bg-primary py-4 pb-6
  }
  .header-container {
    @apply container flex gap-10 justify-center lg:justify-normal
  }
  .nav-items {
    @apply font-bold mt-auto mb-[-5px] gap-6 xl:gap-8 text-bright
    lg:text-small xl:text-base uppercase flex grow justify-around
  }
  .sidebar-menu {
    @apply mt-[42px] md:mt-[51.5px]
  }
  .header-menu-toggle {
    @apply top-5 right-4 w-4 h-3 md:top-6 md:right-5
  }
  .app {
    @apply flex flex-col min-h-[100vh]
  }
  .home {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0) 10%, rgba(19, 25, 32, 1)),
    url("../img/home-bg.jpg");
    @apply grow mt-[71px] mb-[-40px]
  }
  .home-container {
    @apply container flex-row align-middle mx-auto
    lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl max-w-screen-2xl;
  }
  .home-details {
    @apply mt-[5vh] xs:mt-[30vh] sm:mt-[50vh] text-bright px-8 lg:px-0
  }
  .home-details-heading {
    @apply font-medium text-4xl uppercase max-w-[450px]
  }
  .home-details-paragraph {
    @apply font-extralight mt-4 max-w-[700px]
  }
  .home-details-link {
    @apply uppercase mt-6 border p-4 border-2 text-small font-bold
  }
  .footer {
    @apply h-10 bg-transparent bottom-0 w-full text-light
    flex justify-center uppercase gap-4 sm:gap-8 text-sm sm:text-base
  }
  .launches {
    @apply grow mt-[62px] md:mt-[71px] container flex flex-col
  }
  .launches-heading {
    @apply text-bright font-bold py-4 w-full fixed text-lg xl:text-xl bg-primary mt-[-4px] lg:mt-0
  }
  .launches-inner {
    @apply lg:flex grow flex-row gap-4 mt-8 lg:mt-10
  }
  .launch-filters {
    @apply border border-primary mt-4 mb-4 rounded-lg fixed
    h-[calc(100vh-182px)] hidden lg:block lg:w-[220px] xl:w-[252px] 2xl:w-[316px]
  }
  .launch-filters-heading {
    @apply h-16 border-b border-primary text-center my-auto flex flex-col justify-center
    text-lg xl:text-xl
  }
  .launch-filter-placeholder {
    @apply basis-1/4 hidden lg:flex
  }
  .launch-list {
    @apply lg:basis-3/4 mt-4 mb-4 flex flex-col gap-4
  }
  .launch-search {
    @apply border border-secondary shadow-xl-dark bg-secondary rounded-lg fixed flex px-4 py-2 lg:p-4
    h-12 lg:h-16 w-[264px] sm:w-[584px] md:w-[712px] lg:w-[660px] xl:w-[852px] 2xl:w-[972px]
  }
  .launch-search-inner {
    @apply flex gap-2 border-b border-secondary text-bright
  }
  .search-input{
    @apply bg-secondary outline-0 w-40 sm:w-60 lg:w-80
  }
  .launch-cards {
    @apply rounded-lg flex flex-col gap-4 mt-12 lg:mt-16
    text-small xl:text-base
  }
  .launch-card {
    @apply h-[264px] sm:h-[134px] lg:h-40 border border-secondary shadow-xl bg-secondary rounded-lg flex py-4 pointer
    flex-col sm:flex-row gap-8 sm:gap-12 px-8 md:gap-6 md:px-6 xl:gap-8 xl:px-8
  }
  .loading-card {
    @apply h-12 lg:h-16 border border-primary shadow-xl bg-primary rounded-lg flex py-4 pointer
    flex-col sm:flex-row gap-8 sm:gap-12 px-8 md:gap-6 md:px-6 xl:gap-8 xl:px-8
  }
  .launch-card-patch {
    @apply flex flex-row justify-center m-auto size-[100px] lg:size-[126px]
  }
  .launch-attributes {
    @apply basis-1/2 flex flex-col justify-around
  }
  .launch-attribute {
    @apply flex gap-4
  }
  .launch-attribute-name {
    @apply font-bold w-16
  }
  .launch-attributes:last-child {
    @apply hidden md:flex
  }
  .launch-attributes:last-child .launch-attribute-name {
    @apply font-bold w-24
  }
  .launch-attribute-value {
    @apply text-bright text-nowrap w-[120px] sm:w-[160px] xl:w-[180px] 2xl:w-[200px] text-ellipsis overflow-hidden
  }
  .launch-modal-container {
    @apply flex min-h-full items-center justify-center p-4 text-center
  }
  .launch-modal-body {
    @apply w-full max-w-md transform overflow-hidden rounded-2xl bg-secondary text-left
    align-middle shadow-xl transition-all border border-secondary
  }
  .filter-modal-container {
    @apply flex min-h-full items-center justify-center p-4 text-center
  }
  .filter-modal-body {
    @apply w-full max-w-md transform overflow-hidden rounded-2xl bg-secondary text-left
    align-middle shadow-xl transition-all border border-secondary h-[30rem]
  }
  .launch-modal-heading {
    @apply text-xl font-medium text-bright flex justify-between border-b border-secondary py-4 px-6
  }
  .launch-modal-images {
    @apply flex flex-row gap-4 overflow-y-scroll mb-4
  }
  .launch-modal-body .launch-attribute-name{
    @apply w-36
  }
  .filter-modal-body .launch-filters {
    @apply block relative bg-primary
  }
}
